@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Luckiest Guy */
  @font-face {
    font-family: "Luckiest Guy";
    src: url("/fonts/LuckiestGuy.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
    font-weight: 400;
  }

  /* Other font-face definitions */
  @font-face {
    font-family: "Adelle Sans";
    src: url("/fonts/AdelleSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 300;
  }

  @font-face {
    font-family: "Adelle Sans";
    src: url("/fonts/AdelleSans-Semibold.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 600;
  }

  :root {
    --radius: 0.5rem;
  }

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
  font-family: 'Luckiest Guy', cursive;
}
}
.glow-effect:hover {
  box-shadow: 0px 4px 20px rgba(72, 255, 167, 0.7);
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.6);
  }
  100% {
    text-shadow: 0 0 20px rgba(255, 255, 0, 1), 0 0 30px rgba(255, 255, 0, 0.8);
  }
}

.animate-glow {
  animation: glow 1.5s infinite alternate;
}